<mat-card>
  <h2 mat-card-title>Login Form</h2>
  <div class="login-box">
    <form
      class="example-form"
      [formGroup]="loginForm"
      (submit)="_loginSubmit()"
    >
      <mat-form-field class="example-full-width">
        <mat-label>Email ID</mat-label>
        <input
          matInput
          placeholder="Enter Your Email ID"
          formControlName="email"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Enter Your Password"
          formControlName="password"
        />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        [disabled]="loginForm.invalid"
        type="submit"
      >
        Login
      </button>
    </form>
  </div>
</mat-card>
